html{
  background-color: rgba(10, 140, 160, 0.5);
}

h1{
  font-family: helvetica;
  color: black;
  background: white;
  font-size: 60px;
  margin-right: 900px;
  outline: dashed black;
}

h2{
  font-family: helvetica;
  color: black;
  background: white;
  font-size: 60px;
  margin-right: 800px;
  outline: dashed black;
}

h3{
  font-family: helvetica;
  color: black;
  background: white;
  font-size: 60px;
  margin-right: 900px;
  outline: dashed black;
}

h4{
  font-family: helvetica;
  color: black;
  background: white;
  font-size: 60px;
  margin-right: 800px;
  outline: dashed black;
}

h5{
  font-family: helvetica;
  color: black;
  background: white;
  font-size: 60px;
  margin-right: 800px;
  outline: dashed black;
}

p1{
  font-family: helvetica;
  color: black;
  font-size: 90px;
}

p2{
  font-family: helvetica;
  color: black;
  font-size: 90px;
}

p3{
  font-family: helvetica;
  color: black;
  font-size: 90px;
}

p4{
  font-family: helvetica;
  color: black;
  font-size: 90px;
}

a{
  text-decoration-line: none;
  color: black;
  font-family: helvetica;
  font-style: bold;
  color: black;
  font-size: 40px;
  font-variant: small-caps;
}

<!--
a:hover
{
  background-color: white;
}
//-->

ul{
  font-family: helvetica;
  font-style: bold;
  color: black;
  font-size: 40px;
}

img{
  width: 100%;
  display:block;
}
